@model IEnumerable<KnowledgeHubPortalMVCWebApplication.Models.Entities.Article>

@{
    ViewData["Title"] = "Browse";
}

<h1>Browse Articles</h1>

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SubmittedBy)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
           
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedBy)
            </td>
            
           
        </tr>
}
    </tbody>
</table>
