@model List<KnowledgeHubPortalMVCWebApplication.Models.Entities.Catagory>

<h1>List of Catagories (Count : @Model.Count)</h1>

<h2>@TempData["Message"]</h2>

<a href="/Catagories/Create" class="btn btn-primary">Create new catagory</a>


<partial name="_CatagorySearchPartial" />

<table class="table table-bordered table-hover"  >
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CatagoryID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Delete"
                   asp-controller="Catagories"
                   asp-route-id="@item.CatagoryID" class="btn btn-danger">Delete</a>
            </td>

            <td>
                <a asp-action="Edit"
                   asp-controller="Catagories"
                   asp-route-id="@item.CatagoryID" class="btn btn-info">Edit</a>
            </td>
        </tr> 
    }

</table>